<!DOCTYPE html>
<html lang="en">

<head>
    <title>MunchMap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mapstyles.css">
</head>

<body>
  <div class="menu">
    <h1>MunchMap</h1>
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Friends</a></li>
      <li><a href="#">Log out</a></li>
    </ul>
  </div>
  
  <div id="map"></div>
  
  <script src="static/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt3XT8zW1ncpXIQ5QyKNA_lJswobtOgW4&map_ids=7d132948a44ae00a&callback=initMap"></script>
</body>

</html>
