<!DOCTYPE html>
<html lang=en>

<head>
        <link rel="stylesheet" href="static/styles.css">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>MunchMap</title>
</head>


<body>
   <form action="/register" method="POST">
    <div class="wrapper">
            <h1>MunchMap</h1>
            <h2>Register</h2>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username (atleast 5 characters)" minlength="5"
                required>
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email"
                required>
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password (atleast 8 characters) " minlength="8"
                required>
            </div>

            <div class="input-box">
                <input type="password" name="password2" placeholder="Confirm password"
                required>
            </div>

            <div class="terms">
                <label for="termsCheckbox">
                    <input type="checkbox" id="termsCheckbox" required> I agree to the <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="termsLink">Terms & Conditions</a>
                </label>                
            </div>

            <button type="submit" class="registerbtn">Sign up</button>

    </div>
   </form>
</body>